head{
	margin:0;
}


html, body {

	background:white;
	font-family: helvetica;		/*base style for the page*/
	margin:auto;
	height:100%;
	width:100%;
	font-size: 100%;
	min-height: 350px;
	scroll-behavior: smooth;

}

a
{
	color:white;
	text-decoration:none;
}

.header {
	z-index: 10;
	position:absolute;
	top:0;
	width:100%;
	height:10%;
  color: white;
  font-size: 12px;
}

.header h1{
	position:relative;
	left:1%;
	top:20%;
	display:inline;
	font-size: 250%;
}

.header ol
{
	position: relative;
	right:1%;
	top:25%;
	text-align: right;
	margin:0px;
	float:right;
	width:40%;
}

.header li
	{
	padding-right:2%;
	display:inline;
	list-style: none;
	font-size: 150%;
}




.project iframe
{
	width:60%;
	height:80%;

}

.about{
	height:100%;
	background-size:100% 100%;
	color:white;
}

.about p{
	position:absolute;
	top:10%;
	left:40%;
	padding-right:5%;
}


.contact{
	height:100%;
	background-size:100% 100%;
	color:white;
}

.contact p{
	position:absolute;
	top:10%;
	left:55%;
	font-size:250%;
}


.contact ol
{
	position: relative;
	top:25%;
	left:45%;
	width:50%;
}

.grid-container {
	position:relative;
  display: grid;
  grid-template-columns: 40% 40% 40%;
	width:40%;
	left:38%;
	top:25%
}

.grid-container-2 {
	position:relative;
  display: grid;
  grid-template-columns: 40% 40% 40%;
	width:40%;
  top:25%;
	left:38%;
}
.grid-item {

  padding: 1%;
  font-size: 150%;
  text-align: center;
}

.contact li
	{
	text-align:center;
	padding-right:8%;
	display:inline;
	list-style: none;
	font-size: 120%;
}



.image-box-1{
	float:left;
	color:white;
	padding-top:5%;
	background-size: 100% 100%;
	height: 100%;
	width:50%;
	object-fit: contain;
	text-align: center;

}

.image-box-1 video{
	position:relative;
	padding-top:5%;
}

.image-box-2{
	color:white;
	padding-top:5%;
	background-size: 100% 100%;
	height: 100%;
	width:50%;
	float:right;
	text-align: center;

}

.image-box-2 video{
	position: relative;
	padding-top:5%;

}

.text-box-1{
	background-color: #afeeee;
	float:right;
	position:relative;
	color:white;
	height: 100%;
	width:50%;
	text-align: center;
	object-fit: contain;
	display: flex;
}

.text-box-1 h1{
	position:relative;
	top:20%;
	height:10%;
	width:100%;
	text-align: center;
	align-content: center;


}

.text-box-1 p{
	position:absolute;
	text-align: center;
	top:30%;
}



.text-box-2{
	background-color: #afe4ee;
	position:relative;
	float:left;
	color:white;
	height: 100%;
	width:50%;
	object-fit: contain;
	display: flex;


}

.text-box-2 h1{
	position:absolute;
	top:20%;
	height:10%;
	width:100%;
	text-align: center;
	align-content: center;


}

.text-box-2 p{
	position:absolute;
	top:30%;
	text-align: center;
}




#upBtn {
	display:none;
	width:10%;
	left: 50%;
  transform: translate(-50%, 0);
  position: fixed; /* Fixed/sticky position */
  top: 10px; /* Place the button at the bottom of the page */
  z-index: 99; /* Make sure it does not overlap */


}

#upBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
	opacity: 20%;
}

#downBtn {
	width:10%;
	left: 50%;
  transform: translate(-50%, 0);
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at the bottom of the page */
	right:42%;
  z-index: 99; /* Make sure it does not overlap */


}

#downBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
	opacity: 20%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 30; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#menu{
	display:none;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px)
{
	.mobile-image
	{
		color:white;
		padding-top:5%;
		background-size: 100% 100%;
		height: 100%;
		width:100%;
		object-fit: contain;
		text-align: center;
	}

	.mobile-text
	{
		background-color: #afeeee;
		color:white;
		display: flex;
		height: 100%;
		width:100%;
		text-align: center;
	}

	.header
	{
		display: none;
	}

	.mobile-text h1
	{
		top:5%;
		width:100%;
		text-align: center;
	}
	.header h1
	{
		font-size: 170%;
	}

	#menu{
		display:block;
		position:fixed;
		top:10px;
		left:5px;
		z-index: 20;
	}


}

@media only screen and (min-width: 768px)
{
	.text-box-1 h1{
		font-size: 200%;
	}

	.text-box-2 h1{
		font-size: 200%;
	}


}


@media only screen and (min-width: 992px)
{
	.text-box-1 h1{
		font-size: 220%;
	}

	.text-box-2 h1{
		font-size: 220%;
	}

	.text-box-1 p{
		font-size: 130%;
	}

	.text-box-2 p{
		font-size: 130%;
	}

	.about p{
		font-size:130%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
	.text-box-1 h1{
		font-size: 250%;
	}

	.text-box-2 h1{
		font-size: 250%;
	}

	.text-box-1 p{
		font-size: 150%;
	}

	.text-box-2 p{
		font-size: 150%;
	}

	.about p{
		font-size:150%;
	}
}
