head{
	margin:0;
}


html, body {

	background:white;
	font-family: helvetica;		/*base style for the page*/
	margin:auto;
	height:100%;
	width:100%;
	min-width: 1200px;
	min-height: 400px;
	font-size: 100%;

}

a
{
	color:white;
	text-decoration:none;
}

.header {
	background-image: linear-gradient(to top right, cyan, blue);
	width:100%;
	height:10%;
  color: white;
  font-size: 12px;
}

.header h1{
	position:relative;
	left:1%;
	top:20%;
	display:inline;
	font-size: 250%;
}

.header ol
{
	position: relative;
	right:1%;
	top:25%;
	text-align: right;
	margin:0px;
	float:right;
	width:50%;
}

.header li
	{
	padding-right:2%;
	display:inline;
	list-style: none;
	font-size: 150%;
}

.project
{
	background-image: url('window.jpg');
	background-size: 100% 100%;
	height:90%;
	text-align: center;
	flex:1;
  padding: 10px;
  color: white;
  font-size: 12px;

}



.project iframe
{
	width:60%;
	height:80%;

}

.contact{
	height:90%;
	background-size:100% 100%;
	color:white;
}

.contact p{
	position:absolute;
	left:55%;
	font-size:250%;
}

.contact ol
{
	position: relative;
	top:15%;
	left:45%;
	width:50%;
}

.grid-container {
	position:relative;
  display: grid;
  grid-template-columns: 40% 40% 40%;
	width:40%;
	left:38%;
	top:15%
}

.grid-container-2 {
	position:relative;
  display: grid;
  grid-template-columns: 40% 40% 40%;
	width:40%;
  top:17%;
	left:38%;
}
.grid-item {

  padding: 1%;
  font-size: 150%;
  text-align: center;
}

.contact li
	{
	text-align:center;
	padding-right:8%;
	display:inline;
	list-style: none;
	font-size: 120%;
}

.myInner{
	flex:1;
	text-align: center;
  color: black;
  font-size: 12px;
}

.carousel{
	text-align: center;
	height: 90%;
	flex:1;
	background-size: 100% 100%;
}


.carousel-item
{
	background-size: 100% 100%;
	color:white;
}

.carousel-inner{
	display: flex;
	background-size: 100% 100%;
	height: 100%;
	width:100%;
	object-fit: contain;
}

.carousel-inner p{
	text-align: left;
	position:absolute;
	left:35%;
}



.cathedral video
{
	position: absolute;
	left:12%;
}

.rhcp-site video
{
	position: relative;
	left:-15%;
}

.rhcp-site
{
	display: inline;
}

.rhcp-site p
{
	position: absolute;
	left:62%;
	width: 35%;
	top:10%;
}

.food-tracker video
{
	position: absolute;
	right:12%;
}

.food-tracker p
{
	position: absolute;
	left:12%;
	width:40%;
}
